.hero-unit
  h1 What is KDict?

.page-header
  h1= title

//.row
  .span4
    h2 A Little History
  .span6
    p KDict actually started from a want for a Rikaichan for Korean. But the lack of an open Korean dictionary made this impossible.


//.row
  .span4
    h2 Roadmap
    p What next?

  .span6
    ul.checklist
      li Adding new dictionary entries
      li Editing existing entries
      li Fuzzy search
      li Creating developer API
      li Creating dictionary extention for major browsers



.row
  .span4
    h2 Developers
    p Who made this?

  .span6
    h3 Ben Humphreys
      small Code
    p Ben is a language nerd living in Japan and hacked together KDict to let everyone get their hands on the lovely, lovely data.
    p
      a(href="http://benhumphreys.co.uk/") benhumphreys.co.uk

  .span6
    h3 Joseph Speigle
      small Data
    p Joseph owns 
      a(href="http://ezcorean.com/") ezcorean.com
      | , which contains his own personal database of translation data, hand-crafted over many years. This data was the starting point on which KDict was built.

.row
  .span6.offset4
    h3 James Shedden
      small Illustration
    p James is a professional illustrator living in London, UK. He created all the illustrations and visuals for KDict
    p
      a(href="http://www.jshedden.com/") jshedden.com

.row
  .span4
    h2 Technology
    p 

  .span6
    a(href='http://nodejs.org/')
      img(src='/images/nodejs.png')
    p KDict runs on Node.js using the ExpressJS framework

  .span6
    a(href='http://www.mongodb.org/')
      img(src='/images/mongodb.png')
    p Dictionary data is stored using the document-oriented database MongoDB.

.row
  .span4
    h2 Source

  .span6
    a(href='http://github.com/bhumphreys/kdict')
      img(src='/images/github.png')
    p The source code is available on Github. Find out more about 
      a(href="/developers/contribute") contributing as a developer
