include ../mixins
tr(class="#{tablerow.type}")
  td
    - if (tablerow.type == 'delete')
      a(href="/updates/#{tablerow.id}")= tablerow.content.korean.hangul
    - else
      a(href="/#{tablerow.content.korean.hangul}")= tablerow.content.korean.hangul
  td 
    mixin username_with_score(tablerow.user)
