.page-header
  h1= title

.row
  .span8
    form.users#login(method='post', action='/login')
      fieldset
        legend Log in
        div.clearfix
          label(for='user[namemail]') Username or Email
          div.input
            input(name='user[namemail]')
    
        div.clearfix
          label(for='user[password]') Password
          div.input
            input(name='user[password]', type='password')
    
        div.clearfix
          label Remember me:
          div.input
            ul.inputs-list
              li
                label
                  input(type='checkbox', name='remember_me') 
                  span Save login details
      
        div.actions
          input(type='submit', value='Log In', class="btn primary")
          button(type='reset', class="btn") Clear



  .span8
    h2 Create an Account
    p An account is required to edit and contribute to the project.
      a.btn(href='/signup') Create an account &rarr;

.row
  .span16
    a.btn(href='/login/reset') Forgotten password?
