.page-header
  h1= title

.row
  .span8
    form.users#login(method='post', action='/login')
      fieldset
        //legend Reset Password

        div.clearfix
          label(for='user[password]') New Password
          div.input
            input(name='user[password]', type='password')

        div.clearfix
          label(for='user[confirm]') Confirm Password
          div.input
            input(name='user[confirm]', type='password')
    
        div.actions
          input(type='submit', value='Change password', class="btn primary")

